<h1>Display your Pirate here</h1>
<!-- <h2>P I R A T E</h2> -->
  <h3><%= @new_pirate["pirate"]["name"] %></h3>
<%# NOT QUITE SURE HOW TO DO THIS WITHOUT ITERATING OVER THE TWO SHIPS IN THE ARRAY NESTED UNDERNEATH PIRATE %>
<!-- <h2>Display your first ship here</h2>
<%= @new_ships.each do |ship| %>
  <p>
    Name: <%= ship.name %>
    Type: <%= ship.type %>
    Booty: <%= ship.booty %>
  </p>
<% end %>

<h2>Display your second ship here</h2> -->
